@import './styles.css';
@import "trix/dist/trix.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}
@layer base {
  input:focus,
  textarea:focus,
  button:focus,
  select:focus {
    @apply outline outline-2 outline-teal-500 outline-offset-2;
  }
}